<section class="image-container" *ngIf="selectedImage; else zeroState">
  <div class="image-metadata">
    <span>Author: {{ selectedImage.author }}, </span>
    <span>Id: {{ selectedImage.id }}, </span>
    <span>Width: {{ selectedImage.width }}, </span>
    <span>Height: {{ selectedImage.height }} </span>
  </div>

  <div class="image-view">
    <div class="image-view-wrapper">
      <div class="image-view-card">
        <img [src]="selectedImage.download_url" class="image-view-image">
      </div>
    </div>
  </div>
</section>

<ng-template #zeroState>
  <div class="image-view-wrapper">
    <div class="image-view-card zero-state">
      <img src="assets/images/zero-state.svg" class="zero-state-image">
      <p class="zero-state-paragraph">
        Click on image to view the full picture
      </p>
    </div>
  </div>
</ng-template>
