@import "../assets/css/_custom";

.main {
  color: @text-dark;
  height: 100%;
  background-color: @bg-light;
  background-image: @bg-main-gradient;
  &-title {
    .resetH();
    text-align: center;
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: 500;
    letter-spacing: 2px;
    color: @text-attention;
    height: @main-title-height;
    line-height: @main-title-height;
  }
}

.content {
  display: flex;
  width: 100%;
  height: calc(100% ~"-" @main-title-height);
  flex-wrap: nowrap;

  &-side {
    width: @sidebar-wide-width;
    height: 100%;
    color: @text-dark;
    margin-left: 2%;
    margin-right: 20px;
    flex: 0 0 @sidebar-wide-width;
  }

  &-center {
    height: 100%;
    flex: 1 1;
  }
}

@media (max-width: 1499px) {
  .content {
    &-side {
      width: @sidebar-min-width;
      flex: 0 0 @sidebar-min-width;
    }
  }
}

@media (max-width: 767px) {
  .main {
    height: initial;

    &-title {
      height: initial;
      line-height: initial;
      padding: 20px 0;
    }
  }

  .content {
    flex-direction: column;
    padding-right: 20px;
    padding-left: 20px;

    &-side {
      width: 100%;
      min-width: 290px;
      min-height: 300px;
      margin: 0 auto 20px;
    }

    &-center {
      padding-bottom: 40px;
    }
  }
}
